.replyContainer {
    border-left: 2px solid var(--lightGray);
    padding-left: 1rem;
}

.comment {
    background-color: var(--white);
    color: var(--moderateBlue);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
}

.comment-head {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.comment-head h5 {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 0.5rem;
    color: var(--darkBlue);
}

.comment-head span {
    margin-left: 0.5rem;
}

.comment-head .you {
    margin-right: 0.5rem;
    background-color: var(--moderateBlue);
    color: var(--white);
    font-size: 0.75rem;
    padding: 0.15rem 0.3rem;
    border-radius: 0.15rem;
}

.comment-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.comment textarea {
    width: calc(100% - 2rem);
    font-size: 1rem;
    border: 1px solid var(--veryLightGray);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: var(--moderateBlue);
}

.comment textarea:focus-visible {
    outline: 2px solid var(--moderateBlue);
}

.author-actions {
    display: flex;
    align-items: center;
}

.author-actions .delete {
    color: var(--softRed);
    font-weight: 500;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.author-actions .edit {
    color: var(--moderateBlue);
    font-weight: 500;
    margin-left: 0.5rem;
}

.author-actions .update {
    background-color: var(--moderateBlue);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Rubik", sans-serif;

    text-transform: uppercase;
}

.comment .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--veryLightGray);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.rating svg {
    padding: 0.5rem;
}

.rating svg:hover path {
    fill: var(--moderateBlue);
}

.rating span {
    margin: 0 1rem;
    font-weight: 500;
}

.comment-actions .reply {
    font-weight: 500;
}

.comment-actions .reply svg {
    margin-right: 0.5rem;
}

.comment-actions .reply:hover,
.author-actions .delete:hover,
.author-actions .edit:hover,
.author-actions .update:hover,
.desktop.reply:hover {
    opacity: 0.25;
    cursor: pointer;
}

.comment .desktop-rating {
    display: none;
}

.desktop.author-actions {
    display: none;
}

.full-width {
    width: 100%;
}

.desktop.reply {
    display: none;
}

.comment .replyingTo {
    color: var(--moderateBlue);
    font-weight: 700;
}

@media (min-width: 800px) {
    .commentContainer {
        max-width: 800px;
        margin: 0 auto;
    }

    .replyContainer {
        margin-left: 2rem;
        padding-left: 2rem;
    }

    .comment {
        display: flex;
    }

    .comment .rating {
        display: none;
    }

    .comment .desktop-rating {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        padding: 0.5rem 0;
        margin-right: 1rem;
    }

    .author-actions {
        display: none;
    }

    .desktop.author-actions {
        display: flex;
        margin-left: auto;
    }

    .reply {
        display: none;
    }

    .desktop.reply {
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-left: auto;
    }

    .desktop.reply svg {
        margin-right: 0.5rem;
    }
}
